<%include ../common/include_header.html%>
<style>
  .wow {
    visibility: hidden;
  }

  .mega-banner {
    height: 186px;
    background: url(/web/img/banner2.jpg) no-repeat center -88px;
  }

  .mega-nav {
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
  }

  .mega-nav-item {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 14px;
    line-height: 2.366;
    padding: 0 10px;
  }

  .mega-this a {
    color: #e53333;
  }

  .mega-this {
    border-bottom: 2px solid #e53333;
  }

  .layui-breadcrumb {
    float: right;
    margin-bottom: 44px;
  }

  .history-l {
    text-align: right;
    border-right: 1px solid #f08681;
  }

  .history-l img {
    margin-right: -5px;
    margin-bottom: 153px;
  }

  .p-title {
    height: 24px;
    color: #e53333;
    font-size: 24px;
    line-height: 24px;
    background: url(web/img/history/line-r.png) no-repeat left center;
    text-align: left;
    padding-left: 135px;
    margin-bottom: 20px;
  }

  .year {
    margin-left: -5px;
    padding-bottom: 50px;
  }

  .p-con {
    text-align: left;
    text-indent: 26px;
    color: #523633;
    line-height: 25px;
    font-size: 14px;
  }
</style>
<script src="/web/lib/wow.min2.js"></script>
<div class="mega-banner"></div>
<ul class="mega-nav">
  <li class="mega-nav-item"><a href="/profile">公司简介</a></li>
  <li class="mega-nav-item"><a href="/culture">企业文化</a></li>
  <li class="mega-nav-item mega-this"><a href="/history">发展历程</a></li>
  <li class="mega-nav-item"><a href="/honor">公司荣誉</a></li>
</ul>
<div class="layui-container">
  <span class="layui-breadcrumb" lay-separator=">">
    <a href="/"><span class="iconfont icon-shouye"></span>首页</a>
    <a href="/about">关于美佳华</a>
    <a><cite>发展历程</cite></a>
  </span>
  <div class="layui-row">
    <div class="layui-col-md7 history-l">
      <div>
        <img class="wow layui-anim animated fadeInLeft" style="margin-right: -20px;" src="/web/img/history/pic1.jpg">
        <img class="wow layui-anim animated fadeInLeft" src="/web/img/history/line.png">
      </div>
      <div>
        <img class="wow layui-anim animated fadeInLeft" style="margin-right: -20px;" src="/web/img/history/pic2.jpg">
        <img class="wow layui-anim animated fadeInLeft" src="/web/img/history/line.png">
      </div>
      <div>
        <img class="wow layui-anim animated fadeInLeft" style="margin-right: -20px;" src="/web/img/history/pic3.jpg">
        <img class="wow layui-anim animated fadeInLeft" src="/web/img/history/line.png">
      </div>
      <div>
        <img class="wow layui-anim animated fadeInLeft" style="margin-right: -20px; margin-bottom: 0" src="/web/img/history/pic4.jpg">
        <img class="wow layui-anim animated fadeInLeft" src="/web/img/history/line.png">
      </div>
    </div>
    <div class="layui-col-md5 history-r" style="text-align: center">
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s" style="margin-top:-12px;">
        <p class="p-title">2017</p>
        <p class="p-con">11月&nbsp;东莞市六合创新实业有限公司</p>
        <p class="p-con">&nbsp;&nbsp;9月&nbsp;深圳美佳华城市更新发展有限公司</p>
        <p class="p-con">&nbsp;&nbsp;5月&nbsp;萍乡美佳华商业广场一期喜迎入伙</p>
        <p class="p-con">&nbsp;&nbsp;5月&nbsp;美佳华与思贝克共同和广州开发区签订战略合作协议</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2016</p>
        <p class="p-con">11月&nbsp;荣登2016中国商业地产TOP100榜单</p>
        <p class="p-con">10月&nbsp;民基项目部正式成立</p>
        <p class="p-con">&nbsp;&nbsp;9月&nbsp;美佳华十周年庆典隆重举行</p>
        <p class="p-con">&nbsp;&nbsp;9月&nbsp;美佳华集团正式挂牌成立</p>
        <p class="p-con">&nbsp;&nbsp;6月&nbsp;萍乡美佳华商业广场项目顺利封顶</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2015</p>
        <p class="p-con">&nbsp;&nbsp;9月&nbsp;萍乡美佳华商业广场项目顺利封顶</p>
        <p class="p-con">&nbsp;&nbsp;8月&nbsp;萍乡美佳华商业管理有限公司成立</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2014</p>
        <p class="p-con">11月&nbsp;曲靖物业管理有限公司成立</p>
        <p class="p-con">11月&nbsp;铜川美佳华商业广场开工建设</p>
        <p class="p-con">11月&nbsp;萍乡美佳华商业广场开工建设</p>
        <p class="p-con">11月&nbsp;比邻新天地正式全面开业</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2013</p>
        <p class="p-con">12月&nbsp;深圳美佳华物业管理有限公司芷峪澜湾花园管理处成立</p>
        <p class="p-con">10月&nbsp;铜川美佳华置业有限公司成立</p>
        <p class="p-con">&nbsp;&nbsp;7月&nbsp;深圳美佳华股权投资基金管理有限公司成立</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2012</p>
        <p class="p-con">&nbsp;&nbsp;5月&nbsp;深圳美佳华物业管理有限公司成立</p>
        <p class="p-con">&nbsp;&nbsp;4月&nbsp;深圳美佳华首誉商业管理有限公司成立</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2011</p>
        <p class="p-con">11月&nbsp;萍乡美佳华置业有限公司成立</p>
        <p class="p-con">&nbsp;&nbsp;2月&nbsp;深圳美佳华商业管理有限公司成立</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2010</p>
        <p class="p-con">12月&nbsp;荣获“中国国际商会常务理事单位”</p>
        <p class="p-con">&nbsp;&nbsp;8月&nbsp;观澜田背旧城改造项目开工</p>
        <p class="p-con">&nbsp;&nbsp;8月&nbsp;荣获“2010年中国最具价值商业地产品牌”</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2009</p>
        <p class="p-con">&nbsp;&nbsp;8月&nbsp;深圳美佳华商业管理有限公司成立</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2008</p>
        <p class="p-con">&nbsp;&nbsp;7月&nbsp;荆州美佳华商业广场正式开业</p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2007</p>
        <p class="p-con">12月&nbsp;曲靖顺城商业管理有限公司成立
          </p>
      </div>
      <div class="wow layui-anim animated fadeInRight year" data-wow-delay=".5s" data-wow-duration="1s">
        <p class="p-title">2006</p>
        <p class="p-con">11月&nbsp;玉溪美佳华商业广场开业</p>
        <p class="p-con">&nbsp;&nbsp;9月&nbsp;深圳美佳华实业有限公司成立</p>
      </div>
    </div>
  </div>
</div>
<script>
  if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
    new WOW().init();
  };
</script>
<%include ../common/include_footer.html%>