<%include ../common/include_header.html%>
<style>
  .mega-banner {
    height: 186px;
    background: url(/web/img/banner2.jpg) no-repeat center -88px;
  }

  .mega-nav {
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
  }

  .mega-nav-item {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 14px;
    line-height: 2.366;
    padding:0 10px;
  }
  .mega-this a{
    color: #e53333;
  }
  .mega-this{
    border-bottom: 2px solid #e53333;
  }
</style>
<div class="mega-banner"></div>
<ul class="mega-nav">
  <li class="mega-nav-item mega-this"><a href="/">公司简介</a></li>
  <li class="mega-nav-item"><a href="/">企业文化</a></li>
  <li class="mega-nav-item"><a href="/">发展历程</a></li>
  <li class="mega-nav-item"><a href="/">公司荣誉</a></li>
</ul>
<div class="layui-container">

</div>
<%include ../common/include_footer.html%>