 <!-- footer部分 -->
 <div style="height: 20px;"></div>
 <div class="footer">
    <div class="layui-container">
      <div class="layui-row footer-contact">
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9" style="margin-top:15px;">
              <p class="contact-top">深圳华美达实业有限公司 版权所有&nbsp;©&nbsp;2016-2018&nbsp;&nbsp;粤ICP&nbsp;备888888号</p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
              <p class="contact-top"><span class="right">深圳市竹子林紫竹七道中国经贸大厦</span></p>
              <p class="contact-bottom"><span class="right">电话： 0755-12345678</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/web/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '/web/js/' 
  }).use('firm'); 
</script>
</body>
</html>