<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>深圳美佳华实业有限公司-<%=pageName%></title>
  <link rel="stylesheet" href="/web/layui/css/layui.css">
  <link rel="stylesheet" href="/web/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav index">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="/web/img/logo.png" alt="美佳华">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item">
            <a href="/">首页</a>
          </li>
          <li class="layui-nav-item">
            <a href="/">主营业务</a>
            <dl class="layui-nav-child">
              <dd><a href="">商业地产</a></dd>
              <dd><a href="">城市更新</a></dd>
              <dd><a href="">基金管理</a></dd>
              <dd><a href="">产业地产</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="item_index">项目开发</a>
            <dl class="layui-nav-child">
                <dd><a href="item_index">在售项目</a></dd>
                <dd><a href="item_index">招商项目</a></dd>
              </dl>
          </li>
          <li class="layui-nav-item">
            <a href="news_index">新闻中心</a>
            <dl class="layui-nav-child">
                <dd><a href="news_index">公司新闻</a></dd>
                <dd><a href="news_index">项目动态</a></dd>
                <dd><a href="news_index">行业动态</a></dd>
              </dl>
          </li>
          <li class="layui-nav-item"><a href="/">公司文化</a></li>
          <li class="layui-nav-item"><a href="/">加入我们</a></li>
          <li class="layui-nav-item"><a href="contact_us">关于我们</a></li>
          <li class="layui-nav-item"><a href="/">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>