<%include ../common/include_header.html%>
<style>
  .mega-banner {
    height: 186px;
    background: url(/web/img/banner1.jpg) no-repeat center -220px;
  }

  .mega-nav {
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
  }

  .mega-nav-item {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 14px;
    line-height: 2.366;
    padding: 0 10px;
  }

  .mega-this {
    border-bottom: 2px solid #e53333;
  }

  .layui-breadcrumb {
    float: right;
    margin-bottom: 44px;
  }

  .main {
    position: relative;
    margin-top: 24px;
    height: 660px;
  }

  .mian p {
    font-size: 13px;
  }
  .title{
    position: absolute;
    left: 150px;
    top: 68px;
    font-size: 26px;
    color: #ed4d5a;
    font-weight: 300;
  }
  .news-ul {
    border-top: 1px dashed #c9c9c9
  }
  
  .news-ul li{
    height: 90px;
    border-bottom: 1px dashed #c9c9c9;
    padding: 24px 133px;
  }
</style>
<div class="mega-banner"></div>
<ul class="mega-nav">
  <li class="mega-nav-item mega-this"><a href="/profile">公司新闻</a></li>
  <li class="mega-nav-item"><a href="/culture">商业动态</a></li>
  <li class="mega-nav-item"><a href="/history">项目进展</a></li>
  <li class="mega-nav-item"><a href="/honor">行业资讯</a></li>
</ul>

<div class="layui-container">
  <span class="layui-breadcrumb" lay-separator=">">
    <a href="/"><span class="iconfont icon-shouye"></span>首页</a>
    <a><cite>公司新闻</cite></a>
  </span>
</div>
<div class="layui-container main">
    <img style="position:absolute;" src="/web/img/honor/lefttop.png" alt="引领城市新生活方式">
    <h1 class="title">NEWS CENTER</h1>
    <div style="height: 125px;"></div>
    <ul class="news-ul">
      <li>
      
      </li>
      <li>
        
      </li>
    </ul>
  
</div>
<%include ../common/include_footer.html%>