<%include ../common/include_header.html%>
<link rel="stylesheet" href="/web/css/item.css">
<style>
    .mega-nav {
        box-sizing: border-box;
        text-align: center;
        border-bottom: 2px solid #e5e5e5;
    }

    .mega-nav-item {
        display: inline-block;
        position: relative;
        top: 2px;
        font-size: 14px;
        line-height: 2.366;
        padding: 0 10px;
    }
    .layui-carousel-ind ul,
    .layui-carousel-ind ul:hover {
        background-color: transparent;
    }
    .mega-this {
        border-bottom: 2px solid #e53333;
    }

    .layui-breadcrumb {
        float: right;
        margin-bottom: 44px;
    }
    .layui-carousel-ind li {
        width: 17px;
        height: 2px;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid #e02627;
    }

    .layui-carousel-ind li.layui-this {
        background-color: #e02627;
    }
    .land-b{
        height: 493px;
    }
    .land-b p{
        height: 493px; overflow: hidden;
    }
    .title {
        position: absolute;
        left: 150px;
        top: 68px;
        font-size: 26px;
        color: #ed4d5a;
        font-weight: 300;
    }
</style>
<!-- banner部分 -->
<div class="land-industry">
    <p><img src="/web/img/banner1.jpg" alt=""></p>
</div>
<ul class="mega-nav">
    <li class="mega-nav-item"><a href="/company_news">地产开发</a></li>
    <li class="mega-nav-item"><a href="/item_business">商业运营</a></li>
    <li class="mega-nav-item"><a href="/item_industry">产业地产</a></li>
    <li class="mega-nav-item  mega-this"><a href="/item_fund">基金管理</a></li>
    <li class="mega-nav-item"><a href="/item_property">物业服务</a></li>
</ul>

<div class="layui-container">
    <span class="layui-breadcrumb" lay-separator=">">
        <a href="/"><span class="iconfont icon-shouye"></span>首页</a>
        <a><cite>基金管理</cite></a>
    </span>
</div>

<!-- main部分 -->
<div class="layui-container main">
    <div class="land-m-top">
        <img style="position:absolute;" src="/web/img/honor/lefttop.png" alt="引领城市新生活方式">
        <div style="height: 125px;"></div>
    </div>
    <div class="land-m-center">

    </div>
</div>

<%include ../common/include_footer.html%>