<%include ../common/include_header.html%>

 <!-- banner部分 -->
 <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        <% for(var i=0; i<2; i++) { %>
        <div style=<%="background:url(/web/img/banner"+ (i+1) +".jpg) no-repeat top center"%></div>>
          <!-- <img src="/web/img/banner1.jpg"> -->
          <!-- <div class="panel">
            <p class="title">美佳华</p>
            <p>引领城市新生活方式</p>
          </div> -->
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-product">
    <div class="layui-container">
      <p class="title" style="height: 400px;"></p>
      <div class="layui-row layui-col-space25">
        <% for(var i=0; i<4; i++) { %>
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src=<%="/web/img/Big_icon"+(i+1)+".png"%>></div>
            <div>
              <p class="label">发展战略</p>
              <p>携手世界五百强商业企业及国内外知名商家，致力于国内三四线城市地产项目的投资</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">引领城市新<span>生活方式</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        <% for(var i=0; i<4; i++) { %>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/web/img/home_img1.jpg"></div>
            <div class="content-right">
              <p class="label">美佳华</p>
              <span></span>
              <p>携手世界五百强商业企业及国内外知名商家，致力于国内三四线城市地产项目的投资</p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="service-more"></div>
    </div>
  </div>

  <%include ../common/include_footer.html%>