<%include ../common/include_header.html%>

<!-- banner部分 -->
<div style="display:flex;">
  <img src="/web/img/home/banner2_01.jpg" class="animated flipInY" height="572" alt="">
  <img src="/web/img/home/banner2_02.jpg" class="animated flipInY" height="572" alt="">
  <img src="/web/img/home/banner2_03.jpg" class="animated flipInY" height="572" alt="">
  <img src="/web/img/home/banner2_04.jpg" class="animated flipInY" height="572" alt="">
  </div>
</div>
<!-- main部分 -->
<div class="main-product">
  <div class="layui-container">
    <div class="layui-row layui-col-space25">
      <div class="layui-col-sm6 layui-col-md6">
        <div class="content">
          <div class="layui-carousel layui-anim layui-anim-upbit" style="animation-duration: 1.3s;" id="project">
            <div carousel-item>
              <div>
                <img width="100%" src="/web/img/project1.jpg" alt="">
                <p class="project-title">美佳华项目-1</p>
              </div>
              <div>
                <img width="100%" src="/web/img/project1.jpg" alt="">
                <p class="project-title">美佳华项目-2</p>
              </div>
              <div>
                <img width="100%" src="/web/img/project1.jpg" alt="">
                <p class="project-title">美佳华项目-3</p>
              </div>
              <div>
                <img width="100%" src="/web/img/project1.jpg" alt="">
                <p class="project-title">美佳华项目-4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md6">
        <div id="news-wrapper" class="layui-anim layui-anim-upbit" style="animation-duration: 1.8s;">
          <h2>公司新闻<a>更多新闻</a></h2>
          <ul>
            <li>
              <span class="time">2017/08/03</span>
              <span>铜川市与深圳美佳华实业有限公司举行座谈会</span>
            </li>
            <li>
              <span class="time">2017/06/30</span>
              <span>美佳华商业——倾听新的声音</span>
            </li>
            <li>
              <span class="time">2018/08/03</span>
              <span>商业地产企业在积极谋求转型</span>
            </li>
            <li>
              <span class="time">2017/08/03</span>
              <span>房地产作为国家的货币储存的资金池</span>
            </li>
            <li>
              <span class="time">2017/08/03</span>
              <span>未来应该说是中国产业地产黄金的十年</span>
            </li>
            <li>
              <span class="time">2017/08/03</span>
              <span>这是一条新闻，这是</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="layui-row layui-col-space25">
      <div class="layui-col-sm6 layui-col-md3">
        <div class="main-p cy layui-anim layui-anim-upbit">
          <p>产业</p>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="main-p jr layui-anim layui-anim-upbit">
          <p>金融</p>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="main-p sy layui-anim layui-anim-upbit">
          <p>商业</p>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="main-p wy layui-anim layui-anim-upbit">
          <p>物业</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script> -->
<%include ../common/include_footer.html%>